@font-face {
	font-family: pennStation;
	src: local("penn-station.tff");
	font-weight: 400;
}
@font-face {
	font-family: 'empireState';
	src: local("empirestate.regular.tff");
}
.body {
	font-family: pennStation;
	font-style: normal;
	font-size: 24px;
}	
.jumbotron{
	background-color: blue;
	color: orange;
	font-family: 'empireState';
}